<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
  </head>
  <body>
    <h1>Shopping Cart</h1>

    <h3>Laptop Dell enspiron</h3>
    <p>price: 5000$</p>
    <p>Quantity : 1</p>
    <br />
    <h3>Iphone 14 Pro max</h3>
    <p>price: 3000$</p>
    <p>Quantity : 2</p>

    <form action="/Checkout" method="post">
      <input type="submit" value="Proceed To Checkout" />
    </form>
  </body>
</html>
